@import './../main/variables.scss';


/* FILE VIEWER STYLING */

.pg-viewer-wrapper {
  height: auto !important;
}

.photo-viewer-container {
  margin: 2rem 0;
  height: auto !important;
  width: 100% !important;
}

.photo-viewer-container img {
  height: auto !important;
  width: 100% !important;
}

.file-preview .button {
  margin-bottom: 1rem;
}

.file-preview.closed .button {
  margin-bottom: 0;
}

.view-button.button.reverse {
  margin-left: 2%;
}

.pdf-canvas canvas {
  max-height: 15rem;
  width: 60%;
  height: 30%;
}

.pdf-viewer {
  max-height: 15rem;
}