@import './../main/variables.scss';


.view {
  margin: 0 10%;
}

.title {
  font-size: 2rem;
}

.documents {
  color: $dark-grey;
  margin: 10% 8%;
  line-spacing: 2rem;
}

.option-img, .highlight-img {
  margin: 0 30%;
  width: 40%;
}

.preview-text {
  font-family: $variane;
  color: $light-grey;
  font-size: 3rem;
  margin: 20% 30%;
}

@media(min-width:992px) {
  #home.view {
    margin: 0 18%;
  }
  
  #side.view {
    margin: 0 10%;
  }

  .highlight-img {
    margin: 0 30%;
    width: 40%;
  }

  .option-img {
    margin: 50% 10%;
    margin-top: 55%;
    width: 100%;
  }
}

@media(min-width:1200px) {
  .highlight-img {
    margin: 5% 32%;
    margin-bottom: 2%;
    margin-left: 35%;
    width: 36%;
  }
}
