@import './../main/variables.scss';


.view {
  margin: 0 10%;
}

#home.view {
  margin-bottom: 5%;
}

.title, .welcome {
  font-family: $variane;
  font-size: 4rem;
  color: $light-grey;
}

.title {
  text-align: center;
  margin-bottom: 2%;
}

.welcome {
  margin-top: 2%;
  margin-bottom: 2%;
}

.header {
  font-family: $variane;
  font-size: 3rem;
  color: $med-grey;
}

.description {
  color: $med-grey;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 1.5rem !important;
}

.option-img, .highlight-img {
  margin: 0 20%;
  width: 40%;
}

.preview-text {
  font-family: $variane;
  color: $light-grey;
  font-size: 3rem;
  margin: 20% 30%;
}


/* ReactTable styles */

.table-view {
  margin: 3% 5%;
}

.table-view.file-preview {
  margin: 3% 7%;
}

.table-controls {
  background-color: $light-grey;
  border-radius: 5px;
  padding: 2%;
  margin: 3% 1%;
}

.table-controls-text {
  font-family: $sans-serif;
  font-size: 1.5rem;
  color: $dark-grey;
  float: left;
  margin-right: 2%;
}

.table-controls-button {
  margin: 0% 1rem !important;
}

.table-controls-button.button.float-right {
  margin-right: 0 !important;
}

.ReactTable {
  border: none !important;
  font-family: $sans-serif;
  color: $med-grey;
  font-size: 1.5rem;
}

.-pageInfo {
  color: $med-grey !important;
}

.-pageJump input {
  color: $med-grey !important;
}

.-pageSizeOptions select, .-pageSizeOptions option {
  color: $med-grey !important;
}

.table-button {
  text-align: center;
}

.table-button img {
  width: 30px;
  height: 30px;
}

.rt-td {
  text-align: center;
}

.table-tag {
  background-color: $primary-light;
  border-radius: 5px;
  margin: 5px;
}

.table-tag:hover {
  text-decoration: none !important;
  background-color: lighten($primary-light, 20);
}

@media(min-width:992px) {
  #home.view {
    margin: 0 18%;
  }
  
  #side.view {
    margin: 0 10%;
  }

  .highlight-img {
    margin: 0 30%;
    width: 40%;
  }

  .option-img {
    margin: 50% 10%;
    margin-top: 55%;
    width: 100%;
  }
}

@media(min-width:1200px) {
  .highlight-img {
    margin: 0 25%;
    margin-left: 35%;
    width: 36%;
  }
}
