@import './../main/variables.scss';


/* GENERAL VIEW STYLING */

.view {
  margin: 0 10%;
}

#home.view {
  margin-bottom: 5%;
}

.title, .welcome {
  font-family: $primary-font;
  letter-spacing: .1rem;
  color: $light-grey;
}

.title, .welcome {
  font-size: 4rem;
}

.title {
  text-align: center;
  transform: scale(1.5, 1);
  margin-bottom: 1rem;
}

.welcome {
  transform-origin: left top;
  transform: scale(1.5, 1);
  margin-top: 2%;
  margin-bottom: 2%;
}

.header {
  font-family: $primary-font;
  transform-origin: left top;
  transform: scale(1.5, 1);
  letter-spacing: .2rem;
  font-size: 3rem;
  color: $med-grey;
  max-width: 70%;
}

.secondary-header {
  letter-spacing: .1rem;
}

.description, .description-2 {
  color: $med-grey;
  font-size: 1.5rem;
  margin-top: 1.1rem !important;
  margin-bottom: .5 !important;
}

.description-2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.highlight-img, .option-img {
  margin: 0 20%;
  width: 40%;
}

.side-img, .side-img-2 {
  display: block;
  margin: 15%;
  width: 60%;
}

.segment {
  display: block;
  margin: 0;
  margin-left: 15%;
}

.segment-2 {
  float: right;
  width: 60%;
  margin-bottom: 3rem;
}

.segment-3 {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}

.preview-text {
  font-family: $sans-serif;
  color: $light-grey;
  font-size: 1.5rem;
  margin: 20% 30%;
}

.plus-text-1, .plus-text-2 {
  display: inline-block;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .4rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #666;
}

.plus-text-2 {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.minus-text-1, .minus-text-2 {
  display: inline-block;
  min-width: 80%;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.minus-text-2 {
  margin-bottom: 1rem;
}

.minus-text-input {
  float: left;
  margin-left: 5%;
  width: 70%;
  background-color: $light-grey;
  color: $med-grey;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  padding: .2rem;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $light-grey;
  color: $med-grey;
  font-family: sans-serif;
  font-size: 1.2rem;
}


/* STYLING FOR RESPONSIVE VIEWS */

@media(min-width:800px) {
  .side-img, .side-img-2 {
    display: inline-block;
    margin: 0;
    margin-left: 10%;
    width: 30%;
    vertical-align: top;
  }
  
  .segment {
    display: inline-block;
    margin: 0;
    margin-left: 5%;
    max-width: 30%;
  }
}

@media(min-width:992px) {
  #home.view {
    margin: 0 18%;
  }
  
  .highlight-img {
    margin: 0 30%;
    width: 40%;
  }

  .option-img {
    margin: 0 10%;
    margin-top: 6rem;
    width: 100%;
  }
  
  .side-img {
    max-width: 20%;
  }

  .side-img-2 {
    max-width: 30%;
    margin-left: 10%;
  }  

  .title, .header, .welcome {
    font-size: 2.5rem;
  }

  .preview-text, .description, .description-2 {
    font-size: 1.2rem;
  }

  .description-2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }  

  .input {
    font-size: 1.1rem;
  }
}

@media(min-width:1200px) {
  .highlight-img {
    margin: 0 25%;
    margin-left: 35%;
    width: 36%;
  }

  .side-img-2 {
    max-width: 20%;
  }

  .segment {
    vertical-align: middle;
  }

  .segment-2 {
    margin-left: 2%;
    max-width: 95%;
  }
}


/* SPECIFIC VIEW STYLING */

// Upload Views

.file-upload {
  margin-top: 4rem;
}

.file-upload .header {
  margin-bottom: 2rem;
}

.file-preview {
  font-family: $sans-serif;
  background-color: $light-grey;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.hidden-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

// React Table Views

.table-view {
  position: relative;
  margin: 3% 8%;
}

.table-view.file-preview {
  margin: 3% 7%;
}


// IMPORT ALL SPECIALIZED VIEW STYLING

@import './datePicker.scss';
@import './form.scss';
@import './reactTable.scss';
