/* Breakpoints */

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/* Fonts */

@font-face {
  font-family: 'Variane';
  src: url('../../assets/fonts/variane.woff2') format('woff2'),
       url('../../assets/fonts/variane.woff') format('woff'),
       url('../../assets/fonts/variane.ttf') format('truetype');
}

$variane: 'Variane', 'Cambria', serif;
$serif: 'Cambria', 'Georgia', serif;
$sans-serif: 'Alef', 'Trebuchet MS', sans-serif;


/* Colors */

$salmon: #fac081;
$yellow: #f8fa81;
$light-green: #bbfa81;
$green: #81fa84;
$med-green: #b4eb81;
$sage: #a5cc80;
$seafoam: #81fac0;
$aqua: #4ce8fa; // #81f8fa

$cause: #81bbfa;
$periwinkle: #8481fa;

$lime: #dbfa4c;
$blue: #514893;
$light-blue: #827CAD;

$dark-grey: #444;
$med-grey: #666;
$light-grey: #ddd;

$primary: $blue;
$primary-light: $lime;
$primary-nav-main: $periwinkle;
$primary-nav-highlight: $cause;
$secondary-nav-main: $periwinkle;
$secondary-nav-highlight: $cause;
$ternary: $blue;
$ternary-light: $light-blue;

$success-light: $med-green;
$success-dark: white;
$error-light: $salmon;
$error-dark: white;


/* Functional Classes */

a:hover {
  color: white;
  text-decoration: none;
}

.main-img {
    width: 100%;
    border-radius: 5px;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

