/* Breakpoints */

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/* Fonts */

@font-face {
  font-family: 'Getaway-Car';
  src: url('../../assets/fonts/getaway-car.woff') format('woff'),
       url('../../assets/fonts/getaway-car.ttf') format('truetype');
}

$primary-font: 'Getaway-Car', 'Cambria', serif;
$serif: 'Cambria', 'Georgia', serif;
$sans-serif: 'Alef', 'Trebuchet MS', sans-serif;


/* Colors */

$salmon: #eab7ba;
$light-teal: #b7eace;
$teal: #6acfd6;
$dark-teal: #12bcaf; // built into check and plus icons
$light-blue: #827CAD;
$periwinkle: #8481fa;
$blue: #514893;

$dark-grey: #444;
$med-grey: #666;
$light-grey: #ddd;

$success-light: $light-teal;
$success-dark: white;
$error-light: $salmon;
$error-dark: white;

$primary: $blue;
$primary-light: $teal;
$primary-nav-main: $blue;
$primary-nav-highlight: $blue;
$secondary-nav-main: $blue;
$secondary-nav-highlight: $periwinkle;
$ternary: $blue;
$ternary-light: $light-blue;


/* Functional Classes */

a:hover {
  color: white;
  text-decoration: none;
}

.main-img {
    width: 100%;
    border-radius: 5px;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

