@import './../main/variables.scss';

.form {
  color: $dark-grey;
  margin: 3%;
}

.form .heading {
  font-size: 1.6rem;
  font-weight: bold;
}

.form .body {
  margin-left: 0px;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
}

.form-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-box .label {
  margin-bottom: 10px;
}

.form-box .button-label {
  font-size: 1.2rem;
}

.form-box .button-label .label {
  margin-bottom: 0;
}

.form-box .button {
  float: left;
  border-radius: 5px;
  padding: .7rem;
  padding-top: 1rem;
  background-color: $primary;
  color: white;
}

.form-box .button:hover {
  background-color: $primary-light;
}

.form-box .input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $light-grey;
  color: $med-grey;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.form-box .textarea {
  height: 100px;
  resize: none;
  font-size: 1.2rem;
}

.return-form {
  margin-top: 0;
}

.return-form-header {
  font-weight: bold;
}

.form .main-img {
  margin-top: 1rem;
  margin-right: 1rem;
}

.formbox-link {
  margin: 0 .2rem;
}

.formbox-link a {
  background-color: $primary-light;
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

.formbox-link a:hover {
  background-color: lighten($primary-light, 20);
  color: darken($primary-light, 20);
  text-decoration: none;
  cursor: pointer;
}