@import './../main/variables.scss';

.message-box-transition {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    z-index: 200;
}

.message-box {
    border-radius: 10px;
    padding: 35px;
}

.message-box.error {
    background-color: $error-light;
    color: $error-dark;
}

.message-box.success {
    background-color: $success-light;
    color: $success-dark;
}

.message-box.hidden {
    display: none;
}

.message {
    float: left;
    padding: 0px;
    font-size: 1.2rem;
}

.message-close-button {
    float: right;
    margin: 0px;
    font-size: 2rem;
    line-height: 1rem;
}

.message-close-button:hover {
    cursor: pointer;
    font-weight: bold;
}