@import './../main/variables.scss';

/* Mobile Navbar */

.navbar-custom {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 6rem;
  background-color: rgba(255, 255, 255, .9);
  -webkit-box-shadow: 0 0 500px 50px rgba(255,255,255,.85);
  box-shadow: 0 0 500px 50px rgba(255,255,255,.85);
}

.navbar-toggler {
  float: right;
  width: auto;
  margin: .5rem;
}

.nb-toggler-img {
  box-sizing: content-box;
  background-color: $secondary-nav-main;
  width: 3rem;
  padding: .1rem;
  border: 2px solid white;
  border-radius: 5px;
}

.nb-toggler-img:hover {
  background-color: $secondary-nav-highlight;
  cursor: pointer;
}


/* Mobile Dropdown Navigation */

.navbar-list {
  display: block;
  width: 100%;
  background-color: white;
  color: $ternary;
  text-align: center;
  margin-bottom: 1rem;
}

.nav-separator {
  color: white;
  background-color: white;
  content: "";
  height: 2px;
}

.nb-mobile-list-item {
  .navlink {
    font-family: $sans-serif;
    background-color: $secondary-nav-main;
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navlink:hover {
    background-color: $secondary-nav-highlight;
    font-weight: bold;
  }

  .navlink:focus,
  .navlink:active,
  .navlink.active {
    background-color: $secondary-nav-highlight;
    font-weight: bold;
  }
}

.navbar-spread {
  display: none;
}

/* Tablet Navbar */

@media(min-width:576px) {
  .navbar-custom {
    height: 7rem;
  }
  
  .navbar-toggler {
    margin-top: 1rem;
  }
  
  .nb-toggler-img {
    width: 1.6rem;
    padding: .1rem;
  }

}


/* Desktop and Laptop Navbar */

@media(min-width:1000px) {
  .navbar-toggler {
    display: none;
  }
  
  .navbar-list {
    display: none;
  }

  .navbar-spread {
    display: block;
    float: right;
    margin-top: 2rem;
    margin-right: 1rem;
    font-family: $primary-font;
    font-size: 2.5rem;
    letter-spacing: .4rem;
  }
  
  .navbar-spread {
    .navlink {
      color: $primary-nav-main;
      float: right;
      border-radius: 5px;
      padding: .1rem 1rem .1rem 1rem;
      margin: .5rem;
      margin-top: 1rem;
    }
    
    /*
    .navlink::after { // protects positioning during hover-bold
      display: block;
      content: attr(label);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    */
    
    .navlink:hover,
    .navlink:focus {
      background-color: $primary-nav-highlight;
      color: white;
      // font-weight: bold;
    }

    .navlink:active,
    .navlink.active {
      background-color: $primary-nav-highlight;
      color: white;
      // font-weight: bold;
    }
  }
}

/*
@media(min-width:768px) {
    .navbar-main {
        background-color: transparent;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    
    .navbar-main.navbar-shrink {
        background-color: #222;
    }
}
*/
